/* ────────────────────────────────────────────────────────────
 * Custom Theme for Waybar
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */
@define-color background rgba(205, 180, 219, 0.8); /* Added transparency */
@define-color foreground #03045e;

* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  backdrop-filter: blur(10px); /* This creates the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For compatibility */
}
